pypdf2~=2.10.5
mock~=4.0.3
langchain~=0.0.235
openai~=0.27.8
python-dotenv~=1.0.0
streamlit~=1.25.0
python-docx
faiss-cpu
tiktoken~=0.4.0
pdfminer.six
docxcompose~=1.4.0
tqdm~=4.66.1
transformers~=4.32.1
textract